In [2]:
import pandas as pd

In [17]:
df = pd.read_csv('desktop/sentiment_all_models_V3.csv')

In [18]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment,clean_review,Logistic_Sentiment,lstm_sentiment,VADER_score_test,VADER_sentiment,CNN_Sentiment,CNN-LSTM_Sentiment
0,156061,8545,An intermittently pleasing but mostly routine ...,-999,an intermittently pleasing but mostly routine ...,3,2,0.296,2,3,3
1,156062,8545,An intermittently pleasing but mostly routine ...,-999,an intermittently pleasing but mostly routine ...,3,2,0.296,2,3,3
2,156063,8545,An,-999,an,3,2,0.000,2,2,2
3,156064,8545,intermittently pleasing but mostly routine effort,-999,intermittently pleasing but mostly routine effort,2,2,0.296,2,2,3
4,156065,8545,intermittently pleasing but mostly routine,-999,intermittently pleasing but mostly routine,2,2,0.296,2,2,3

In [19]:
df.drop(columns = ['SentenceId','Phrase','Sentiment','clean_review','VADER_score_test'],inplace = True)

In [20]:
df.head()

,PhraseId,Logistic_Sentiment,lstm_sentiment,VADER_sentiment,CNN_Sentiment,CNN-LSTM_Sentiment
0,156061,3,2,2,3,3
1,156062,3,2,2,3,3
2,156063,3,2,2,2,2
3,156064,2,2,2,2,3
4,156065,2,2,2,2,3

In [44]:
df.set_index('PhraseId',inplace = True)

In [45]:
submissions ={}
for column in df.columns:
    submission = pd.DataFrame(index=df.index)
    submission['Sentiment'] = df[column]
    submissions[column] = submission

In [46]:
submissions.keys()

dict_keys(['Logistic_Sentiment', 'lstm_sentiment', 'VADER_sentiment', 'CNN_Sentiment', 'CNN-LSTM_Sentiment'])

# single submission

In [49]:
submissions['Logistic_Sentiment'].to_csv('Logistic_Sentiment.csv')

# Ensemble

In [50]:
df.head()

,Logistic_Sentiment,lstm_sentiment,VADER_sentiment,CNN_Sentiment,CNN-LSTM_Sentiment
PhraseId,,,,,
156061,3,2,2,3,3
156062,3,2,2,3,3
156063,3,2,2,2,2
156064,2,2,2,2,3
156065,2,2,2,2,3

In [53]:
df_ensemble = pd.DataFrame(index=df.index)
df_ensemble['Sentiment'] = df['majority']

In [54]:
df_ensemble.to_csv('ensemble_prediction.csv')